:root {
    --device-topbar-height: 40px;
    --device-content-height: 350px;
    --box-divider-border-color: white;
}

.device {
    border: 1px solid var(--widget-border-color);
    border-radius: 5px;
    background-color: rgb(25, 27, 28);
    background-color: rgb(28, 30, 31);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    color: white;
    transition: height 0.2s ease;
    height: var(--device-topbar-height);
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

.device-top-bar {
    width: calc(100% - 20px);
    height: var(--device-topbar-height);
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.expanded-top-bar {
    border-bottom: 2px solid var(--widget-border-color);
}

.device-name {
    font-weight: 500;
}

.device-content {
    height: calc(var(--device-content-height) - var(--device-topbar-height));
    width: calc(100% - 20px);
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px;
    display: flex;
}

.expanded {
    height: var(--device-content-height);
}

.left-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    padding-right: 20px;
}

.left-box  .field input{
    background-color: var(--widget-color);
    border: 1px solid var(--widget-border-color);
    border-radius: 3px;
    color: white;
    text-align: right;
}

.right-box {
    padding-left:  20px;
    padding-right: 10px;
    width: 40%;
    border-left: 2px solid var(--widget-border-color);
}

.field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.field {
    padding-bottom: 8px;
    border-bottom: 1px solid var(--widget-border-color); 
  }
  
  .field:last-child {
    border-bottom: none;
  }


  .field label input{
    margin: 0px ;

}

/* .left-box .field >  * {
    margin: 1px solid white;
} */


.edit-buttons {
    margin-top: 10px;
    margin-left: auto;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.edit-buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    font-weight: 700;
}


.edit-buttons button:first-child {
    border-radius: 20px 0px 0px 20px;
    border: 1px solid var(--widget-border-color);
    border-right: none;
    background-color: var(--bg-color);
    color: white;
    padding-left: 7px;
}

.edit-buttons button:first-child:hover {
    background-color: var(--fg-color);
}


.edit-buttons button:nth-child(2) {
    border-radius: 0px 20px 20px 0px;
    border: 1px solid var(--widget-border-color);
    border-left: none;
    background-color: var(--bg-color);
    background-color: rgb(46, 112, 134);
    padding-right: 10px;
    color: white;
}


.edit-buttons button:nth-child(2):hover {
    background-color: rgb(29, 132, 166);
}



.buttons {
    display: flex;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);  
}

.buttons div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons button {
    width: 100%;
    height: 50px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: var(--widget-color);
    background-color: var(--fg-color);
    border: 1px solid var(--widget-border-color);
    font-size: 1.1em;
    letter-spacing: 0.87px;
    color: white;
    cursor: pointer;
}

.buttons button:hover {
    background-color: var(--bg-color);
}

.device > p {
    margin: 0;
}

.device-status-text {
    letter-spacing: 0.5px;;
}

.device-text-active {
    color: rgb(0, 255, 0);
}

.device-text-inactive {
    color: red;
}

.textArrowContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 330px;
    margin: 0;
}

.textArrowContainer * {
    margin: 0;
    text-align: center;
}

.textArrowContainer .resourceData {
    width: 40px;
    text-align: right;
    
}

.IOBox {
    color: white;
    margin-left: 20px;
    margin-left: 20px;
    display: flex; /* Change from grid to flex */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: right; /* Align items to the start */
    gap: 10px; /* Maintain some spacing between items */
    height: 80%;
    padding: 3px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;

}


.IOBox li {
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}