.PersistentLinkContainerCyber {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 480px;
}



.LeftShape {
    height: 100%;
    width: 8%;
    float: left;
}

.LeftShape .textContainer {
    width:  220px;
    height: 54px;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    white-space: nowrap;
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 15px; /* Adjust as needed */
    color: #222121;
    font-weight: bolder;
    font-size: xx-large;
    left: 49px;
}



.PersistentLinkCyber {
    height: 250px;
    width:  100%;
    /* max-width:  500px; */

    /* clip-path: polygon(0% 0, 85% 0, 90% 6%, 100% 6%, 100% 100%, 8% 100%,  0% 88%); */
    clip-path: polygon(0% 3%, 6% 3%, 10% 0%, 84.58% 0%, 89.55% 5.95%, 99.5% 5.95%, 99.5% 99.21%, 5% 99.21%, 0% 91.28%);
    border: 2px solid var(--cyberRed);
    overflow: hidden;
    background: linear-gradient(145deg, #1f1e1e, #242323);
    background: var(--cyberRed);
    min-height: 200px;
    font-size: medium;
    animation: widen 0.8s 1;
    animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86)(3);
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-timing-function: ease;
}

.PersLinkInfo {
    height: 100%;
    width: 91%;
    /* clip-path: inherit; */
    clip-path: polygon(0% 0%, 99% 0%, 99% 99%, 7% 99%, 0% 87%);
    background: linear-gradient(145deg, #1f1e1e, #242323);
    padding: 0px;
    float: right;
}


:root {
    --cyberRed: #f45951;
    --shade: #161616;
  }


.PersistentLinkCyber  .infoGrid .cell > * { 
    margin: 0;
    color: var(--cyberRed);
}

.PersistentLinkCyber .infoGrid {
    display: grid;
    border-radius: 15px;
    overflow: hidden;
    height: 80%;
    width: 100%;
    grid-template-columns: repeat(2, 50%); 
    grid-template-columns: 1fr 1fr;
    grid-template-rows:    1fr 1fr;
  }

.PersistentLinkCyber  .EncryptionWindow {
    margin-top: 5px;
    padding: 6px;
    border-radius: 0px;
    height: 75%;
    border: 2px solid var(--cyberRed);
    color:  var(--cyberRed);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Dropdown Button */

.PersistentLinkCyber  .EncryptionWindow .title .dropdown {
    width: 104px; 
    height: 26px;
    overflow: hidden;
    font-weight: bolder;
}

.PersistentLinkCyber .dropdownContainer {
    position: relative;
    background-color: black;
    border: 2px solid var(--cyberRed);
    cursor: pointer;
}

.PersistentLinkCyber .dropdownOptions {
    font-weight: bolder;
    background-color: black;
    position: absolute;
    left: -2px;
    width: calc(100% + 4px );
    text-align: center;
    border: 2px solid var(--cyberRed);

}

.PersistentLinkCyber .dropdown:hover  {
    background-color: brown;
}

.PersistentLinkContainerCyber .PersistentLinkCyber .dropdownOptions > *:hover{
    background-color: brown;
}


.PersistentLinkCyber  .EncryptionWindow .title .dropdown:hover .dropdownOptions {
    display: block;

}

.PersistentLinkCyber  .EncryptionWindow .title .dropdownOptions:hover {
    display: block;

}

/*  */

.PersistentLinkCyber  .EncryptionWindow .title .KeyLengthContainer {
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: space-between; 
    border: 1px solid var(--cyberRed);
}

.PersistentLinkCyber  .EncryptionWindow button {
    margin: 0;
    border: 2px solid var(--cyberRed);
    background-color: #0c0c0c;
    border-radius: 0px;
    color: var(--cyberRed);
    cursor: pointer;
    height: 20%;
    font-size: medium;
}

.selectedKeyCyber {
    background-color: rgba(165, 42, 42, 0.718);
}

.PersistentLinkCyber  .EncryptionWindow .title .activeCyberBt {
    background-color: rgba(165, 42, 42, 0.718);
}

.PersistentLinkCyber  .EncryptionWindow  .activeCyberBt {
    background-color: rgba(165, 42, 42, 0.718);
}

.PersistentLinkCyber  .EncryptionWindow .title .KeyLengthContainer > * {
    border: 1px solid var(--cyberRed);
    width:  100%;
    margin: 0;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.PersistentLinkCyber  .EncryptionWindow .title .KeyLengthContainer > *:hover {
    background-color: brown;
    
}

.PersistentLinkCyber  .EncryptionWindow .title{
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
    font-size: large;
    height: 30px;
    /* padding-left: 5px; */
    /* padding-right: 5px; */
}

.PersistentLinkCyber  .EncryptionWindow .title > *{
    margin: 0;
}


.PersistentLinkCyber  .EncryptionWindow .title div > *{
    margin: 0;
}



.PersistentLinkCyber  .EncryptionWindow button:hover {
    background-color: brown;
}



.AbstractPersLinkTypeShape {
    height: 100%;
    width: 100%;
    /* clip-path: polygon(0% 2.39%, 19.36% 2.39%, 39.46% 0%, 100% 0%, 100% 100%, 19.36% 100%, 0% 96.35%); */
    clip-path: polygon(0% 3%, 20% 3%, 40% 0%, 100% 0%, 100% 100%, 20% 100%, 0% 97%);
    clip-path: polygon(0% 3%, 20% 3%, 40% 0%, 68% 0%,  68%  90%,  100%  100%,   20% 100%, 0% 97%);
    clip-path: polygon(0% 3%, 20% 3%, 40% 0%, 68% 0%,  68%  90%,  100%  100%,   20% 100%, 0% 97%);
    clip-path: polygon(0% 3%, 20% 3%, 40% 0%, 58% 0%,  58%  88%,  100%  100%,   20% 100%, 0% 97%);
    background-color: var(--cyberRed);
}



@keyframes widen {
    0% {
        width: 0px;
        
    }
    100% {
        width: 350x;
    }
}



.UpdatePersLinkContainer {
    width: 100%;
    height: 19%;
    /* padding-left: 8px; */
    display: flex;
    align-items:     center;
    justify-content: center;
    vertical-align:  middle;
    text-align:      center;
    position: relative;
}

.UpdatePersLinkContainer > .UpdateButtonContainer > button {
    /* background-color: #f45951; */
    /* background-color: black; */
    background-color: black;
    color: var(--cyberRed);
}
.UpdatePersLinkContainer > .configButtonContainer > button {
    /* background-color: #f45951; */
    /* background-color: black; */
    background-color: black;
    color: var(--cyberRed);
}



.UpdatePersLinkContainer > div > button:hover {
    background-color: brown;
}

.UpdatePersLinkContainer .UpdateButtonContainer {
    position: absolute;
    left: 0;
    width: 50%;
    height: 75%;
    background-color: var(--cyberRed);
    display: flex;
    align-items:     center;
    justify-content: space-around;
    vertical-align:  middle;
    text-align:      center;
    /* clip-path: polygon(8.99% 0%, 33.11% 0%, 66.44% 0%, 91.67% 0%, 100% 46.67%, 91.67% 100%, 8.27% 100%, 0.04% 46.05%); */
    /* clip-path: polygon(0% 0%, 33.11% 0%, 66.44% 0%, 91.67% 0%, 76.99% 100%,  13% 100%); */
    clip-path: polygon(0% 0%, 100% 0%, 87% 100%, 17% 100%);
    box-shadow: inset 0px 0px 10px 10px var(--cyberRed);
    border-radius: 0px;
}

.UpdatePersLinkContainer .configButtonContainer {
    right: 0;
    position: absolute;
    width: 54%;
    height: 75%;
    background-color: var(--cyberRed);
    display: flex;
    align-items:     center;
    justify-content: space-around;
    vertical-align:  middle;
    text-align:      center;
    clip-path: polygon(12% 0%, 100% 0%, 100% 100%, 0% 100%);
    /* padding-left: 20px; */
    box-shadow: inset 0px 0px 10px 20px var(--cyberRed);
    border-radius: 0px;
    /* z-index: 100; */
}

.UpdatePersLinkContainer .UpdateButtonContainer button {
    border: 1px solid var(--cyberRed);
    /* clip-path: polygon(8.99% 0%, 33.11% 0%, 66.44% 0%, 91.67% 0%, 100% 46.67%, 91.67% 100%, 8.27% 100%, 0.04% 46.05%); */
    clip-path: inherit;
    height: 88%;
    width:  93%;
    border: 1px solid var(--cyberRed);
    border-radius: 0px;
    margin: 0;
    color: var(--cyberRed);
    cursor: pointer;

}


.UpdatePersLinkContainer .configButtonContainer button {
    border: 1px solid var(--cyberRed);
    /* clip-path: polygon(8.99% 0%, 33.11% 0%, 66.44% 0%, 91.67% 0%, 100% 46.67%, 91.67% 100%, 8.27% 100%, 0.04% 46.05%); */
    clip-path: inherit;
    height: 88%;
    width:  95%;
    margin: 0;
    margin-left: 2px;
    padding-left: 20px;
    border: 1px solid var(--cyberRed);
    border-radius: 0px;
    color: var(--cyberRed);
    cursor: pointer;

}



.UpdatePersLinkContainer button h3 {
    margin: 0;
    color: var(--cyberRed);
    font-size: medium;
    cursor: pointer;
}




.PersTitleBox {
    background-color: var(--cyberRed);
    height: 10%;
    width: calc(100% + 14px + 1px);
    margin-top: -2%;
    margin-left: -8px;
    padding-left: 5px;
    padding-right: 55px;
    z-index: 1000;
    color: black;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
}

.PersTitleBox .crossDropShadow {
    filter: none;

}

.PersTitleBox .cross {
    margin-top: 2px;
    color: black;
    font-size: larger;
    cursor: pointer;
}

.PersLinkInfo .PersTitleBox > p {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}



.PersistentLinkCyber .PersistentInfoGrid {
    margin-top: 5px;
    border-radius: 0px;
    height: 75%;
}

.PersistentLinkCyber .PersistentInfoGrid .cell  {
    border: 2px solid var(--cyberRed);

}

.PersistentLinkCyber .PersistentInfoGrid .cell input {
    background-color: rgba(0, 0, 0, 0.453);
    border-radius: 5px;
    text-align: center ;
    border: none;
    line-height: 1.8;
    min-width: 150px;
}

.titleDivPersistentLink {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    height: 40px;
    text-wrap: balance;
}

.titleDivPersistentLink p {
    margin: 0px;
}


.PersLinkInfo {
    height: 100%;
    padding: 7px;
}

.PersLinkInfoGrid {
    border: 2px solid gray;
    display: grid;
    border-radius: 15px;
    overflow: hidden;
    height: 90% !important;
    width: 100%;
    grid-template-columns: repeat(2, 50%); 
    grid-template-columns: 1fr 1fr;
    grid-template-rows:    1fr 1fr;
    background-color: #0c0c0c;

  }

.PersLinkInfoGrid .PersLinkcell > * { 
    margin: 0;
    
}

.PersLinkInfoGrid .PersLinkcell {
    width: 100%;
    height: 100%; 
    padding: 5px; 
    border: 1px solid gray;

    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    overflow: hidden;
}

.PersLinkDelButton {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    vertical-align: middle;
}


.PersistentLinkCyber .IOColumnParent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75%;
    padding-top:  5px;
    padding-left:  20px;
    padding-right: 20px;
}

.PersistentLinkCyber .IOColumn {
    width: 43%;
    height: 100%;
    background-color: rgb(23, 23, 24);
    border-radius: 10px;
    background: linear-gradient(145deg, #0c2947, #284953, #2a4f5e);
    box-shadow: 0px 0px 12  px rgba(255, 255, 255, 0.345);
    text-align: center;
    display: flex;
    align-items: center;
    vertical-align: middle;
    flex-direction: column;
    justify-content: space-around;
}



.PersistentLinkCyber .IOColumn * {
    margin: 0;
}

.outputColumn {

}
.inputColumn {
}

.PersLinkDelButton {
    border-radius: 10px;
    margin-bottom: 10px;
    width: auto;

}

.PersLinkDelButton button {
    height: 50%;
    border: none;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    font-size: x-large;
    box-shadow: inset 16px 16px 32px #1413136d,
                inset -16px -16px 32px #302f2f74,
                5px 5px 10px #141313,
                -5px -5px 10px #302f2f;
} 
.PersLinkDelButton button:hover {
    background-blend-mode: lighten;

} 

.PersistentLinkCyber .PersLinkBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.PersistentLinkCyber .PersLinkBox input  {
    width: 100%;
    height: 30px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.248);
    /* background-color: transparent; */
    border-radius: 7px;
    color: white;
    text-align: center;
    border: none;
    font-size: medium;
    /* border-radius: 5px; */
}