:root {
    --cyberRed: #f45951;
    --shade: #161616;
}


.PersistentLink {
    height: 250px;
    width:  350px;
    border-radius: 15px;
    /* border: 2px solid var(--cyberRed); */
    border-radius: 15px;
    overflow: hidden;
    background: linear-gradient(145deg, #1f1e1e, #242323);
    box-shadow: 6px 6px 20px #0c0c0c, -6px -6px 20px #313030;
    min-height: 200px;

}

.PersistentLink .PersLinkInfo {
    height: 100%;
    width: 100%;
    background: linear-gradient(145deg, #1f1e1e, #242323);
    padding: 0px;
}

.PersistentLink .UpdatePersLinkContainer {
    width: 100%;
    height: 19%;
    /* padding-left: 8px; */
    display: flex;
    align-items:     center;
    justify-content: center;
    vertical-align:  middle;
    text-align:      center;
    position: relative;
}

.PersistentLink .UpdatePersLinkContainer > div > button:hover {
    background-color: brown;
}

.PersistentLink .UpdatePersLinkContainer .UpdateButtonContainer {
    position: absolute;
    left: 0;
    width: 71%;
    height: 75%;
    background-color: var(--cyberRed);
    display: flex;
    align-items:     center;
    justify-content: space-around;
    vertical-align:  middle;
    text-align:      center;
    box-shadow: inset 0px 0px 10px 10px var(--cyberRed);
    border-radius: 0px;
}

.PersistentLink .UpdatePersLinkContainer .configButtonContainer {
    right: 0;
    position: absolute;
    width: 35%;
    height: 75%;
    background-color: var(--cyberRed);
    display: flex;
    align-items:     center;
    justify-content: space-around;
    vertical-align:  middle;
    text-align:      center;
    /* padding-left: 20px; */
    box-shadow: inset 0px 0px 10px 20px var(--cyberRed);
    border-radius: 0px;
    /* z-index: 100; */
}

.PersistentLink .UpdatePersLinkContainer .UpdateButtonContainer button {
    height: 88%;
    width:  96%;
    background-color: black;
    border-radius: 0px;
    margin: 0;
    color: var(--cyberRed);
    cursor: pointer;

}


.PersistentLink .UpdatePersLinkContainer .configButtonContainer button {
    height: 88%;
    width:  93%;
    margin: 0;
    margin-left: 2px;
    padding-left: 20px;
    background-color: black;
    border-radius: 0px;
    color: var(--cyberRed);
    cursor: pointer;

}
/*  */



.PersistentLink .EncryptionWindow .title .dropdown {
    width: 104px; 
    height: 26px;
    overflow: hidden;
    font-weight: bolder;
}

.PersistentLink .dropdownContainer {
    position: relative;
    border-radius: 50px;
    background: linear-gradient(145deg, #171717, #1c1c1c);
    box-shadow:  6px 6px 13px #141414,
                -6px -6px 13px #212121;
    cursor: pointer;
}

.PersistentLink .dropdownOptions {
    font-weight: bolder;
    background: linear-gradient(145deg, #171717, #1c1c1c);
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    left: -2px;
    width: calc(100% + 4px );
    text-align: center;
}

.PersistentLink .dropdownOptions p {
    margin: 0px;
}

.PersistentLink .dropdown:hover  {
    background-color: brown;
}

.PersistentLink .dropdownOptions > *:hover{
    background-color: brown;
}

.PersistentLink  .EncryptionWindow .title .dropdownContainer {
    width: 104px; 
    height: 26px;
    font-weight: bolder;
}

.PersistentLink  .EncryptionWindow .title{
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
    font-size: large;
    height: 30px;
    /* padding-left: 5px; */
    /* padding-right: 5px; */
}

/*  */

.PersistentLink  .EncryptionWindow button {
    margin: 0;
    border: none;
    background-color: #232323;
    border-radius: 10px;
    border-radius: 50px;
    background: linear-gradient(145deg, #171717, #1c1c1c);
    box-shadow:  6px 6px 13px #141414,
                 -6px -6px 13px #212121;
    
    cursor: pointer;
    height: 20%;
    font-size: medium;

}

.PersistentLink  .EncryptionWindow .preferredHighestButton {
    color: white;
}


 .PersistentLink  .EncryptionWindow .activeBt {
    color: turquoise;
}




 .PersistentLink  .EncryptionWindow .selectedKey {
    /* background: purple;
     */
     /* border: 2px solid turquoise; */
     /* box-shadow: inset 0px 0px 5px 3px turquoise; */
     color: turquoise;
}



.PersistentLink  .EncryptionWindow .title .KeyLengthContainer {
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: space-between; 
    border-radius: 10px;
    overflow: hidden;
    background: linear-gradient(145deg, #171717, #1c1c1c);
    border-radius: 50px;
    background: linear-gradient(145deg, #171717, #1c1c1c);
    box-shadow:  6px 6px 13px #141414,
                 -6px -6px 13px #212121;
}

.PersistentLink  .EncryptionWindow .title .KeyLengthContainer > * {
    width:  100%;
    margin: 0;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.PersistentLink  .EncryptionWindow .preferredHighestButton:hover {
    color: turquoise;
    text-shadow: 0px 0px 6px turquoise;

}

.PersistentLink  .EncryptionWindow .title .KeyLengthContainer > *:hover {
    color: turquoise;
    text-shadow: 0px 0px 6px turquoise;
}

.PersistentLink .EnableEncryptionButton {
    color: white;
}

.PersistentLink .EnableEncryptionButton:hover {
    text-shadow: 0px 0px 6px turquoise;
    color: turquoise;

}

.PersistentLink  .EncryptionWindow {
    margin-top: 5px;
    padding: 6px;
    border-radius: 0px;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.PersistentLink .UpdatePersLinkContainer button h3 {
    margin: 0;
    cursor: pointer;
}



.PersistentLinksContainer .HighestKeySizeToggle {
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 15px;
    text-shadow: 0px 0px 3px white;
    background-color: #161616;
    overflow: hidden;
}

.PersistentLinksContainer .HighestKeySizeToggle .label {
    color: var(--cyberRed);
    text-shadow: 0px 0px 3px white;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.PersistentLinksContainer .HighestKeySizeToggle .toggle {
    text-shadow: 0px 0px 3px white;
    cursor: pointer;
    box-sizing: border-box;
    isolation: isolate;
    position: relative;
    height: 30px;
    width: 60px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 5px 5px 10px #141313,
    -5px -5px 10px #302f2f,
    0px 0px 15px 5px #132932,
    4px 4px 4px 0px #222121 inset,
    -4px -4px 4px 0px #222121 inset;
}

.PersistentLink .PersTitleBox {
    background-color: var(--cyberRed);
    height: 10%;
    width: 120%;
    margin-top: -2%;
    margin-left: -8px;
    padding-left: 5px;
    z-index: 1000;
    color: black;
    font-weight: bolder;
}


.PersistentLink .PersLinkInfo  .PersTitleBox > p {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}


.PersistentLink .PersistentLinksContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    grid-gap: 30px;
    padding: 17px;
}

.PersistentLink .PersistentLink .PersistentInfoGrid {
    margin-top: 5px;
    border-radius: 0px;
    height: 75%;
}

.PersistentLink .PersistentInfoGrid  .cell input {
    background-color: rgba(0, 0, 0, 0.453);
    border-radius: 5px;
    text-align: center ;
    border: none;
    line-height: 1.8;
    min-width: 150px;
}

.PersistentLink .titleDivPersistentLink {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    height: 40px;
    text-wrap: balance;
}

.PersistentLink .titleDivPersistentLink p {
    margin: 0px;
}


.PersistentLink .PersLinkInfo {
    height: 100%;
    padding: 7px;
}

.PersistentLink .PersLinkInfoGrid {
    border: 2px solid gray;
    display: grid;
    border-radius: 15px;
    overflow: hidden;
    height: 90% !important;
    width: 100%;
    grid-template-columns: repeat(2, 50%); 
    grid-template-columns: 1fr 1fr;
    grid-template-rows:    1fr 1fr;
    background-color: #0c0c0c;

  }

.PersistentLink .PersLinkInfoGrid .PersLinkcell > * { 
    margin: 0;
}

.PersistentLink .PersLinkInfoGrid .PersLinkcell {
    width: 100%;
    height: 100%; 
    padding: 5px; 
    border: 1px solid gray;

    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    overflow: hidden;
}

.PersistentLink .PersLinkDelButton {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    vertical-align: middle;

}


.PersistentLink  .IOColumnParent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65%;
    padding-top:   10px;
    padding-left:  20px;
    padding-right: 20px;
}

.PersistentLink  .IOColumn {
    width: 43%;
    height: 100%;
    background-color: rgb(23, 23, 24);
    border-radius: 10px;
    background: linear-gradient(145deg, #0c2947, #284953, #2a4f5e);
    box-shadow: 0px 0px 12  px rgba(255, 255, 255, 0.PersistentLink .345);
    text-align: center;
    display: flex;
    align-items: center;
    vertical-align: middle;
    flex-direction: column;
    justify-content: space-around;
}



.PersistentLink .IOColumn * {
    margin: 0;
}


.PersistentLink .PersLinkDelButton {
    border-radius: 10px;
    margin-bottom: 10px;
    width: auto;
}

.PersistentLink .PersLinkDelButton button {
    height: 50%;
    border: none;
    background-color: rgb(22, 22, 22);
    color: white;
    border-radius: 7px;
    font-weight: bold;
    font-size: large;
    box-shadow: inset 16px 16px 32px #1413136d,
                inset -16px -16px 32px #302f2f74,
                5px 5px 10px #141313,
                -5px -5px 10px #302f2f;
} 
.PersistentLink .PersLinkDelButton button:hover {
    background-blend-mode: lighten;

} 

.PersistentLink .PersLinkDelButton  .UpdateButton {
    width: 60%;
    margin-right: 10px;
    background-image: linear-gradient(145deg, #0c2947, #284953, #2a4f5e);
}

.PersistentLink  .PersLinkBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.PersistentLink .PersLinkBox input  {
    width: 100%;
    height: 30px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.248);
    /* background-color: transparent; */
    border-radius: 7px;
    color: white;
    text-align: center;
    border: none;
    font-size: medium;
    /* border-radius: 5px; */
}