
.LinkDevice .activeLinksContainer {
    display: grid;
    grid-gap: 30px;
    padding: 17px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5000px, 1fr));
    grid-gap: 30px;
    padding: 17px;
    justify-items: center;
}

.LinkDevice {
    /* height: 220px; */
    width:  100%;
    border-radius: 15px;
    overflow: hidden;
    /* background: linear-gradient(145deg, #1f1e1e, #242323); */
    background-color: grey;
    background-image: linear-gradient(145deg, #0c2947, #284953, #2a4f5e);
    background-blend-mode: darken;
    box-shadow: 6px 6px 20px #0c0c0c, -6px -6px 20px #313030;
    min-height: 200px;
    font-size: medium;
    display: flex;
    max-width: 480px;
}


.LinkDevice .linkInfoContainer {
    width: 100%;
    height: 100%;
}

.LinkDevice .lastMessageContainer {
    word-wrap: break-word;
    overflow: hidden;
    height: 80%;
    width: 100%;
    background-color: #0000006b;
    background-blend-mode: color-burn;
    color: white;

}
.LinkDevice .lastMessage {
    /* border-radius: 20px; */
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 7px;
    text-align: center;
}

.LinkDevice .linkLastMsg {
    width: 100%;
    height: 20%;
    display: flex;
    align-items:     center;
    justify-content: space-around;
    vertical-align:  middle;
    text-align:      center;
    overflow: hidden;
}




.LinkDevice .linkLastMsg button {
    height: 70%;
    width:  70%;
    border-radius: 15px;
    border-radius: 25px;
    border-radius: 25px;
    background: linear-gradient(145deg, #254552, #2c5261);
    box-shadow:  12px 12px 24px #1d3640,
                 -12px -12px 24px #356476;
    border: none;
    color: white;
    /* font-size: medium; */
}

.LinkDevice .linkLastMsg button:hover {
    background-color: rgb(34, 56, 79);
    background-blend-mode: color-dodge;
    cursor: pointer;
}


.LinkDevice .linkLastMsg button h3 {
    margin: 0;
    cursor: pointer;
}

.LinkDevice .breakLinkIcon {
    color: red;
    height: 1.5em;
    width:  1.5em;
    margin: 1px;
    cursor: pointer;
}
.LinkDevice .breakLinkIcon:hover {
    color: rgb(255, 0, 0);

}

.LinkDevice .disconLinkIcon:hover {
    color: rgb(255, 0, 0);
}

.LinkDevice .disconLinkIcon {
    color: rgb(223, 32, 32);
    height: 1.8em;
    width:  1.8em;
    cursor: pointer;
    position: relative;
}

.LinkDevice .componentContainer {
    min-height: 230px;
    overflow-y: hidden;
    overflow-x: scroll;
    transition: min-height 0.3s ease;
}
.LinkDevice .linkInfo {
    height: 100%;
    width: 100%;
    padding: 7px;
}

.handleHoverMenuLinkDevice {
    position: absolute;
    z-index: 1000;
    background-color: rgb(51, 51, 54);
    min-width:  50px;
    border-radius: 5px 0px 0px 5px;
    border-radius: 5px;
    font-size: 0.9em;
}

.handleHoverMenuLinkDevice > *{
    margin: 0px;
    padding: 5px;
}


.LinkDevice  .infoGrid {
    display: grid;
    /* border-radius: 10px; */
    overflow: hidden;
    height: 80%;
    width: 100%;
    grid-template-columns: repeat(2, 50%); 
    grid-template-columns: 1fr 1fr;
    grid-template-rows:    1fr 1fr;
    background-color: #0000006b;
    background-blend-mode: color-burn;
    /* filter: blur(5px); */
  }

.infoGrid .cell > * { 
    margin: 0;
    /* color: var(--cyberRed); */
}

.infoGrid .cell {
    width: 100%;
    height: 100%; 
    padding: 5px; 
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    overflow: hidden;
}

/* .LinkDevice .cell:nth-child(odd) {
background-color: #f8f8f8; 
} */
