.devicesTab-container {
    background-color: var(--fg-color);
  }
  
  .devices-subcontainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    background-color: var(--bg-color);
    color: var(--text-color);
    position: relative;
    /* max-width:  calc( 90%  ); */
    /* min-width:  calc( 90%  ); */
    width: calc( 100% - 40px );
    overflow: hidden;
  }
  
  .device-searchbar {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid rgb(65, 71, 74);
    background-color: var(--widget-color);
    border-radius: 5px;
    color: var(--text-color);
  
  }
  
  .device-list-container {
    max-height: 450px;
    min-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .device-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow: hidden;
    position: relative;
  }
  
  
  
  * {
    box-sizing: border-box !important; /* Applies to all elements */
}