.DeviceIOCyberContainer {
    position: relative;
    height: 250px;
    min-width: 380px;
    max-width: 420px;
}

.DeviceIOCyber  {
    height: 250px;
    min-width: 380px;
    max-width: 420px;
    clip-path: polygon(0% 8%, 10% 8%, 15% 1%, 85% 1%, 90% 8%, 100% 8%, 100% 100%, 10% 100%, 0% 86%);
    border: 2px solid var(--cyberRed);
    background: var(--cyberRed);
    position: relative;
    min-height:     200px;
}

.DeviceIOCyberContainer .deviceInfoContainer {
    width:  8%;
    height: 12%;
    background-color: var(--cyberRed);
    clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
    padding-top: 2.3%;
    padding-left: 2px;
    position: absolute;
    z-index: 100;
    /* top: 220px; */
    bottom: 0;
    left: 0;
    /* inset: 0; */
}

.DeviceIOCyber .DeviceInfoWindow {
    background: linear-gradient(145deg, #1f1e1e, #242323);
    height: calc(100% - 32px);
    height: 100%;
    padding: 7px;
    padding-top: 16px;
    width: 100%;
    clip-path: inherit;
    color: var(--cyberRed);
}

.DeviceIOCyber .deviceTitle {
    background: linear-gradient(145deg, #1f1e1e, #242323);
    background: var(--cyberRed);
    width: 100%;
    height: 32px;
    position: absolute;
    z-index: 100;
    padding-left:   13px;
    padding-right:  13px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.DeviceIOCyber .deviceTitle h3 {
    margin: 0px;
    color: #000;
    font-weight: 900;
}


.DeviceIOCyber .columnContainer {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    /* clip-path: polygon(0% 8%, 10% 8%, 15% 0%, 85% 0, 90% 8%, 100% 8%, 100% 100%, 8% 100%, 0% 88%); */
    clip-path: inherit;
    height: 100%;
    width:  100%;
    padding-left:   18px;
    padding-right:  18px;
    padding-top:    30px;
    background-color: beige;
  }

  .DeviceIOCyber .columnContainer {
    height: 100%;
    width:  100%;
    background: linear-gradient(145deg, #1f1e1e, #242323);
    min-height: 200px;
    font-size: medium;
    animation: widen 0.8s 1;
  }

.DeviceIOCyber .cross {
    margin-top: 6px;
}

.DeviceIOCyber .cross:hover {
    transform: scale(1.2); 
    cursor: pointer;
}

.DeviceIOCyber .IOBox {
    color: white;
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, max-content));
    justify-content: space-around;
    gap: 10px;
    height: 80%;
    background-color: #161616;
    border-radius: 15px;
    padding: 3px;
    overflow: auto;
}

.DeviceIOCyber .IOIcons:hover {
    color: rgb(2, 112, 185);
}

.DeviceIOCyber .configureIOWindow {
    position: absolute;
    inset: 0;
    background-color: #222121;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    border-radius: 15px;
}

.DeviceIOCyber .tempIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    flex-direction: column;
}

.DeviceIOCyber .tempIcon:hover {
    color: rgb(2, 112, 185);
    cursor: pointer;
}

.DeviceIOCyber .addOutputContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 100%;
    width: 100%;

}

.DeviceIOCyber .addInputBox {
    border-radius: 15px;
    box-shadow: 5px  5px  10px #141313,
            -5px -5px  10px #302f2f;
    width:  85%;
    height: 85%;
    padding: 10px;
    position: relative;
}

.DeviceIOCyber .addOutputBox {
    border-radius: 15px;
    box-shadow: 5px  5px  10px #141313,
            -5px -5px  10px #302f2f;
    width:  85%;
    height: 85%;
    position: relative;
    padding: 10px;
}



.DeviceIOCyber .deviceIOGrid > * {
    transition: transform 0.3s ease; 
  }
  
.DeviceIOCyber .deviceIOGrid > *:hover {
    transform: scale(1.03); 
}



.DeviceIOCyber .statusDiv {
    border-radius: 100%;
    height: 10px;
    width: 10px;
}

.DeviceIOCyber .offline {
    background-color: gray;
}


.DeviceIOCyber .online {
    background-color: forestgreen;

}

.DeviceIOCyber .alert {
    background-color: orange;
    
}

.DeviceIOCyber .fault {
    background-color: red;
    
}

.DeviceIOCyber .criticalFault {
    background-color: rgb(53, 15, 15);
    animation: pulse 0.5s infinite;
}

@keyframes pulse {
    0% {
        background-color: rgb(53, 15, 15);
    }
    50% {
        background-color: red;
        box-shadow: 0 0 20px rgb(255 0 0);
    }
    100% {
        background-color: rgb(53, 15, 15);
    }
}



  
.DeviceIOCyber .ioLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50px;
    font-size: 13px;
}

.DeviceIOCyber .ioLabel:hover {
    cursor: pointer;
    color: rgb(2, 112, 185);
}

.DeviceIOCyber .inputsActive {
    color: rgb(2, 185, 57);
    cursor: pointer;
}

.DeviceIOCyber .outputsActive {
    color: rgb(185, 84, 1);
    cursor: pointer;
}

.DeviceIOCyber .IOContainer {
    width: 100%;
    min-height: 60px;
    background-color: #161616;
    border-radius: 15px;
    /* border: 1.5px solid var(--cyberRed); */
    box-shadow:  0px 0px 0px 1.5px var(--cyberRed);
    color: var(--cyberRed);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, max-content));
    grid-gap: 1rem;
    padding: 10px;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

.DeviceIOCyber .deactivateIconHover:hover {
    color: white;
}

.DeviceIOCyber .IOContainer p {
    margin: 0px;
}

.DeviceIOCyber .IOContainerEmpty {
    display: flex;
    align-items: center;
    justify-content: center;
}