
.Node {
    width:  180px;
    height: 180px;
    background-color: rgba(0, 0, 0, 0.686);
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Node:hover > .outputBar,
.Node:hover > .inputBar {
  background-color: rgba(255, 255, 255, 0.353);
  background-blend-mode: lighten;
}

.inputBar {
    width:  280px;
    height: 280px;
    content: '';
    position: absolute;
    background-image: conic-gradient(transparent 30%, #0cf , transparent 100%);
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: rotate(30deg);
}
  
.outputBar {
    width:  280px;
    height: 280px;
    content: '';
    position: absolute;
    background-image: conic-gradient(transparent 30%, #d000ff , transparent 100%);
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    transform: rotate(210deg);
}
  
.alertBar {
    width:  280px;
    height: 280px;
    content: '';
    position: absolute;
    z-index: 1;
}

@keyframes pulseAnimation {
    0%, 100% {
      background-color: red;
    }
  
    50% {
      background-color: grey;
    }
  }
  

.nodeContainer .online {
    background-color: transparent;
}


.nodeContainer .offline {
    background-color: gray;
}

.nodeContainer .alert {
    background-color: rgb(255, 145, 0);

}
.nodeContainer .fault {
    background-color: red;

}

.nodeContainer .criticalFault {
    animation: pulseAnimation 1.5s infinite; 
}

.nodeContainer {
    position: relative;
}

.HandleContainer {
    position: relative;
}

.HandleContainer .input {
    top: -9px;
    right: 18px;
}

.HandleContainer .output {
    top: -8px;
    left: 18px;
}

.inputNodes {
    position: absolute;
    left: -7px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 180px;
    z-index: 1;
}

.outputNodes {
    position: absolute;
    right: -2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 180px;
    z-index: 1;
}

.handleHoverMenu {
    position: absolute;
    z-index: 1000;
    background-color: rgb(51, 51, 54);
    height: 18px;
    min-width:  50px;
    border-radius: 5px 0px 0px 5px;
    border-radius: 5px;
    font-size: 10px;
    padding-left: 5px;
    box-shadow: 0px 0px 5px rgb(138, 136, 136);
}

.handleHoverMenu > *{
    margin: 2px;
    padding: 0;
}

.Node .NodeContent {
    position: absolute;
    border-radius: inherit;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    inset: 3px;
    background-color: rgb(35, 35, 35);
    z-index: 1;
}

.NodeBanner {
    text-shadow: 0px 0px 5px rgb(171, 167, 167);
}

.Node .NodeContent p{
    padding: 0px;
    margin: 0px;
}

.widgetContainer {
    border-radius: 10px;
    width: 90%;
    padding: 5px;
    background: linear-gradient(145deg, #202020, #252525);
    box-shadow:   3px  3px 5px #171717,
                 -3px -3px 5px #2f2f2f;
    margin-left: auto;
    margin-right: auto;
    font-size: 11px;
    font-family: 'Orbitron';
}

.Node .NodeContent .widgetContainer   p {
    margin-top: -5px;
    text-align: left;
}

.widgetContainer input {
    width: 100%;
    margin: 0px;
    border-radius: 5px;
    border: transparent;
    background-color: #141313;
    color: white;
}

.checkbox-container {
    position: relative;
}

.instantMode {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 25px;
    padding: 5px;
    top: 25px;
    right: 0px;
    background-color: rgb(27, 29, 27);
    border-radius: 10px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }  
    100% {
        transform: rotate(260deg);
    }  
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@keyframes fadeOut {
    from {
      display: flex;
      opacity: 1;
    }
    to {
      opacity: 0;
      display: none;
    }
}


.LinkInfoWindowContainer {
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}



.LinkInfoWindow {
    height: 250px;
    width:  400px;
    padding: 10px;
    margin-right: 15px;
    border: 1px solid var(--cyberRed);
    border-radius: 15px;
    /* position: absolute; */
    /* top: 50%; */
    right: 0;
    /* transform: translate(0%, -50%); */
    background-color: black;
    text-align: center;
    display: none;
    z-index: 1000;
}

.visible { 
    display: flex;
    animation: fadeIn 0.2s ease-in-out; 
}

.invisible {
    animation: fadeOut 0.2s ease-in-out; 
}

.LinkInfoWindow p{
    margin: 0;
    /* font-size: 11px; */
}

@media screen and (max-width: 1000px) {
    .nodeFactory {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
  }


.nodeFactory {
    display: flex;
    justify-content: center;
    align-items: center;
}