fromHere

.textInput {
    background-color: rgb(109, 104, 104);
    border-radius: 5px;
    color: white;
    border: none;
    outline: none;
    height: 25px;
    text-align: center;
    transition: box-shadow 0.3s ease; /* Add a smooth transition for the box shadow */
}

.textInput:focus {
    box-shadow: 0px 0px 20px rgb(143, 143, 143);
}

.addDeviceButton {
    border-radius: 12px;
    border: 2px solid rgba(172, 171, 171, 0.397);
    border: none;
    background: linear-gradient(145deg, #103760, #3d6e7e, #315d6e);
    box-shadow: 0px 0px 20px  rgba(255, 255, 255, 0.401);
    box-shadow:  3px  3px  10px #000000,
                -3px -3px  10px rgb(60, 59, 59);
    height: 40px;
    width: 150px;
    font-weight: 500;
    color: white;
    outline: none;
    transition: 0.2s all ease ;
}
.addDeviceButton:hover {
    background: linear-gradient(145deg, #174d87, #5291a7, #458198);
    filter: hue-rotate(45deg);
    transform: scale(1.03);
    box-shadow: 0px 0px 10px  rgba(125, 125, 125, 0.596);
    cursor: pointer;
}

.displayIO {
    width: 100%;
    overflow: hidden;
    margin-top: 30px;
    border-radius: 20px;
    background: linear-gradient(145deg, #1f1e1e, #242323);
    box-shadow:  14px 14px 28px #131212,
                -14px -14px 28px #313030;
}

.alignTitleLeft {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 17px;
    padding-right: 17px;
}

.CreateFakeDevice h3 {
    margin: 0px;
}

.CreateFakeDevice {
    width:  100%;
    min-height: 230px;
    overflow: hidden;
}

.inputHorizontalContainer {
    padding: 0px 0px 7px 7px;
}

.inputBox {
    border-radius: 12px;
    box-shadow: inset 16px 16px 32px #141313,
            inset -16px -16px 32px #302f2f,
             5px  5px  10px #141313,
            -5px -5px  10px #302f2f;
    width:  200px;
    height: 40px;
}

.inputBox > input {
    background-color: transparent;
    height: 100%;
    width:  100%;
    font-weight: 700;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:   inherit;
    outline: none;
    border:  none;
}

.randomOn {
    color: #9917c4;
}

.colorOption {
    border-radius: 100%;
    height: 15px;
    width:  15px;
    transition: 0.2s all ease;
}

.colorOption:hover {
    transform: scale(1.4);
    cursor: pointer;
}

.redButton {
    background-color: red;
}

.greenButton {
    background-color: green;
}

.blueButton {
    background-color: blue;
}

.whiteButton {
    background-color: white;
}

.ColourButtonClicked {
    transform: scale(1.4);
}

.spaceAround {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.deviceNameBoxContainer {
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: column;
    height: 150px;
}

.addDeviceContainer {
    width:  100%;
    min-height: 230px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: auto; 
    grid-gap: 10px;

}

.addDeviceNameContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}

.addInputContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}

.cross {
    transition: transform 0.1s ease; 

}

.editIOWindow {
    margin: 0;
    padding: 5px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.editIOWindow button {
    width: 40%;
}

.crossDropShadow {
    filter: drop-shadow(0px 0px 3px  red);
}

.deviceIOGrid {
    overflow: hidden;
    display: grid;
    padding: 17px;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    justify-items: center;
    grid-gap: 20px;
    transition: 1s all ease;
}